[req]
prompt = no
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
C  = US
ST = IL
L  = Chicago
O  = Demo
OU = Company
CN = System Demo
emailAddress = support@unknown.demo.com

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = demo.local.test

